@charset "utf-8";
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select{margin:0;padding:0}
body{font-size:12px;font-family:'宋体';color:#666;background:#fff;background-position:0 25px;min-width:1050px;}
body a:hover{text-decoration:none;}
img {border:0px;}
ul li{list-style-type:none;}
a {text-decoration:none;color:#666;cursor:pointer}
.a:hover{text-decoration:none}
h1,h2{font-size:14px;}
em{font-style:normal}
img, input, select, table, tr, th, td {vertical-align:middle}
input[type="reset"], input[type="button"], input[type="submit"], input[type="radio"],input[type="checkbox"] {cursor: pointer; overflow: visible;}
input:focus{outline:0 none;} 
table{cellpadding:0;cellspacing:0;}
h3,h4{font:bold 14px/30px 宋体;}
h3 a, h4 a{font-weight:normal;}
h3 span a,h4 span a{color:#663300;font-weight:normal}
.topFixed{height:110px;width:100%;background:#FFF;position:absolute;z-index:1;background:url(../images/head1_1.jpg) repeat-x;}
.navFixed{height:55px;width:100%;background:url(../images/nav_bg.gif) repeat-x 0 0;;position:absolute;z-index:1;top:110px;}
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;height:0;}
*+html .clearfix{overflow:hidden}
.l{float:left}
.r{float:right}
.bd1{border:1px solid #e9e9e9;}
.clear{clear:both;height:0px;overflow:hidden;visibility:hidden;}
.nobg{background:none !important}
.ml2{margin-left:2px}
.ml7{margin-left:7px}
.ml14{margin-left:13px;}
.mb1{margin-bottom:1px !important}
.mb2{margin-bottom:2px !important}
.mb6{margin-bottom:6px !important}
.mb7{margin-bottom:7px !important}
.mb8{margin-bottom:8px !important}
.mb10{margin-bottom:10px !important}
.mt6{margin-top:6px !important}
.mt10{margin-top:10px !important}
.mr10{margin:0 10px 0 0 !important;_margin:0;}
.mlr10{margin:0 10px;}
.pd10{padding:10px}
.pdb10{padding-bottom:10px;}
.red{color:red}
.lightblue{color:#0085c8}
.orange{color:#ff6600}
.orange:hover{color:#ff6600 !important; text-decoration:none}
.nobd{border:none !important;_border:none}
.fz14{font-size:14px;}

.more_link{float:right;margin:0 10px 0 0;font-size:12px;color:#fff;}

.all{width:1050px;margin:0 auto; z-index:500;position:relative;}
.head{height:100px;background:url(../images/head1.jpg);}
.logo{float:left;}
.headRight{float:right;margin:0 50px 0 0;text-align:center;height:100%;width:600px;line-height:94px;font-size:30px;font-family:'仿宋';font-weight:bold;}
.nav{width:100%;height:55px;background:url(../images/nav_bg.gif) repeat-x 0 0;}
.nav ul{float:left;padding-left:4px;background:url(../images/nav_l_bg.gif) no-repeat 0 0;}
.nav_r{float:right;height:23px;padding:13px 20px 12px 0;background:url(../images/nav_r_bg.gif) no-repeat right top}
.nav ul li{position:relative;float:left;width:90px;height:48px;line-height:55px;font-size:14px;font-weight:bold;padding:0 5px 0 0;text-align:center;background:url(../images/nav_li_right.gif) no-repeat right top;}
.nav ul li a{display:block;height:48px;color:#fff;}
.nav ul li:hover a{background:url(../images/nav_active.gif) no-repeat 0 11px;color:#333;}
.nav ul li:hover .secondNav{display:block;}
.nav ul li:hover .secondNav a{background:none;color:#E79023;float:left;}
.nav .secondNav{position:absolute;z-index:1000;width:500px;background:#fff;left:0;display:none;border:1px solid #E79023;}
.nav .secondNav a{color:#E79023;;text-align:center;height:30px;float:left;line-height:30px;font-weight:normal;padding:0 10px;margin:5px 0;}
.nav .secondNav a:hover{text-align:center;text-decoration:underline;background:none;color:#E79023;}

/********** headerMenu **********/
.headerMenu{width:100%; background:url(header_bg.gif) #ffffff repeat-x 0 0; text-align:center;}
.headerMenu .padder{width:910px; margin:0 auto; background:url(header_bg.gif) #ffffff repeat-x 0 0; padding-bottom:4px; text-align:left;}
.headerMenu .padder .nav{background:url(vertical.gif) repeat-x 0 -36px; height:36px;}
.headerMenu .padder .navLeftBg{background:urlvertical.gif) no-repeat 0 0; height:36px;}
.headerMenu .padder .navRightBg{background:url(icons.gif) no-repeat right -146px; height:36px;}
.headerMenu .padder .nav .mainNav{padding-left:24px; position:absolute;}
.headerMenu .padder .nav .mainNav a:link,.headerMenu .padder .nav .mainNav a:visited,.headerMenu .padder .nav .mainNav a:active{width:90px; height:36px; display:inline-block; text-align:center; color:#ffffff; font-weight:bold; font-size:14px; line-height:36px; margin-left:11px;}
.headerMenu .padder .nav .mainNav a:hover{text-decoration:none;}
.headerMenu .padder .nav .mainNav a.actived:link,.headerMenu .padder .nav .mainNav a.actived:visited,.headerMenu .padder .nav .mainNav a.actived:hover,.headerMenu .padder .nav .mainNav a.actived:active{background:url(icons.gif) no-repeat 0 -27px; color:#000000;}
.headerMenu .padder .secondNav{line-height:21px; text-align:left;}
.headerMenu .padder .secondNav a{color:#266392; display:inline-block; padding:0 8px; margin-right:19px;}
.headerMenu .padder .secondNav a.actived{font-weight:bold;}
.headerMenu .padder .secondNav .subNav1{display:none;}
.headerMenu .padder .secondNav .subNav2{padding-left:150px;display:none;}
.headerMenu .padder .secondNav .subNav3{padding-left:250px;display:none;}
.headerMenu .padder .secondNav .subNav4{padding-left:350px;display:none;}
.headerMenu .padder .secondNav .subNav5{padding-left:450px;display:none;}
.headerMenu .padder .secondNav .subNav6{padding-left:550px;display:none;}
.headerMenu .padder .secondNav .subNav7{padding-left:650px;display:none;}

#slider1{width:960px;height:300px;margin:0 auto;overflow:hidden}
.nivo-caption{display:none !important;opacity:0;filter:alpha(opacity:0)}
.banner{margin-bottom:8px;height:300px;}
.banner img{width:960px;height:300px;}
.prefix {font-size:15px;float:left;}

.con{background:#fff}
.con_l{float:left;width:283px;margin-top:5px;overflow:hidden;padding-left:3px;}
.conl_cp{padding-bottom:15px;background:url(../images/title_bottom.jpg) no-repeat 0 bottom;}
.conl_cp_title{height:55px;background:url(../images/title_top.jpg) no-repeat 0 0;font-size:20px;color:#fff;line-height:40px;text-align:center;}
.conl_cp ul{background:url(../images/title_li.jpg) repeat-y 0 0;padding:0 18px 0 15px;}
.conl_cp ul li{height:26px;line-height:22px;background:url(../images/arrow.jpg) no-repeat 0 0;padding-left:22px;}
.conl_tilte2{height:37px;line-height:37px;padding:0 10px;background:;border:1px solid #E6E4E5;}
.conl_contact{margin-bottom:10px;}
.conl_contact div{border:1px solid #ddd;border-top:none;padding:10px 15px;line-height:20px;}
.conr_title{height:30px;line-height:31px;background:#E79023;padding:0 20px;color:#fff;}
.detail_image{text-align:center;}
.conr_gs{line-height:22px;padding:18px 20px 8px 0;text-indent:24px;}
.index_cp ul{margin-top:15px;padding:0 0 0 15px}
.index_cp ul li{width:168px;height:160px;margin-right:8px;overflow:hidden;text-align:center;float:left}
.index_cp ul li{width:47%;height:160px;margin:8px 0 10px 0;overflow:hidden;text-align:center;float:left;}
.index_cp ul li .left_image{width:150px;height:100%;background:#FFBE9F;padding: 10px 0 0 0;float:left;}
.index_cp ul li .left_image a{vertical-align:middle;}
.index_cp ul li .left_image img{width:130px;vertical-align:middle;}
.index_cp ul li .right_info{width:170px;height:100%;padding: 10px 10px 0 10px;float:left;position:relative;}
.index_cp ul li .right_info .cate{color:#FFA579;font-size:14px;text-align:left;}
.index_cp ul li .right_info .content{font-size:14px;text-align:left;height:85px;margin:10px 0 0 0;}
.index_cp ul li .right_info .detail{position:absolute;top:130px;right:20px;color:#333;}
.index_cp ul li .right_info .detail a{color:#333;font-size:14px;text-align:right;}

.index_image ul{margin-top:15px;padding:0 0 0 15px}
.index_image ul li{width:168px;height:160px;margin-right:8px;overflow:hidden;text-align:center;float:left}
.index_image ul li img{display:block;width:152px;height:112px;background:url(../images/picbox-listbg.gif) no-repeat 0 0;padding:4px;}
.index_image ul li a span{display:block;height:31px;line-height:31px;overflow:hidden}

.index_lists ul{margin-top:15px;padding:0 0 0 15px;}
.index_lists ul li{width:336px;height:30px;margin: 5px 8px 0 0;overflow:hidden;float:left}
.index_lists ul li a{overflow:hidden;margin:0 0 0 15px;}
.index_lists ul li a:hover{text-decoration:underline;}
.index_lists ul li span{float:right;overflow:hidden;margin:0 10px 0 0;}

.conl_contact ul{margin:0 0 15px 0;padding:border:1px solid #ddd;}
.conl_contact ul li{width:100%;height:30px;line-height:30px;}
.conl_contact ul li a{overflow:hidden;margin:0 0 0 15px;}
.conl_contact ul li a:hover{text-decoration:underline;}
.conl_contact ul li span{float:right;overflow:hidden;margin:0 10px 0 0;}

.index_list ul{margin-top:15px;padding:0 18px 0 15px;}
.index_list ul li{height:25px;margin:15px 0;background:url(../images/arrow.jpg) no-repeat 0 0;padding-left:22px;}
.index_list ul li a{font-size:15px;}
.index_list ul li a:hover{text-decoration:underline;}
.index_list ul li span{float:right;margin:0 15px 0 0;font-size:15px;}

.container{overflow:hidden;position:relative;width:730px;}
.slider{postion:absolute;}
.slider li{list-style-type:none;display:inline;}
.slider img{width:730px;madisplay:block;height:300px;}
.num{position:absolute;right:5px; bottom:5px;}
.num li{float:left;color:#FF7300;text-align:center;line-height:16px;width:16px;height:16px;font-family:Arial;font-size:12px;cursor:pointer;overflow:hidden;margin:3px 1px;border:1px solid #FF7300;bnackground-color:#fff;}
.num .on{color:#fff;line-height:21px;width:21px;height:21px;font-size:16px;margin:0 1px;border:0;background-color:#FF7300;font-weight:bold;}


.con_r{float:right;width:740px;margin:5px 0 0 0;}
.address{width:100%;height:50px;border-top:1px solid #DDD;background:#fff;}
.address p{line-height:25px;font-size:14px;margin-left:260px;}

/**.foot{background-size:cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='../images/foot_booy.png');padding:15px 15px 12px;background:url(../images/foot_booy.png) no-repeat left bottom #e79023;color:#eee;}
**/
.foot{width:100%;height:65px;}
.foot .foot_left{width:13px;height:100%;float:left;background:url(../images/foot_left.jpg) no-repeat left bottom #f09511;}
.foot .foot_right{width:13px;height:100%;float:right;background:url(../images/foot_right.jpg) no-repeat right bottom #f09511;}
.foot p a{line-height:65px;margin:0 5px;color:#eee;text-align:center;}
.foot p{float:left;height:100%;width:1024px;text-align:center;background:#f09511}

.con_r img{max-width:700px;}

#sddm div{position: absolute;visibility: hidden;margin: 0;padding: 0;background: #f8f8f8; width:70px; z-index:1000;left:0;top:30}
#sddm div a{position: relative;display: block;height:30px;padding: 5px 0 0 0;margin: 0;width: auto;white-space: nowrap;text-align: center;text-decoration: none;background: #edf6fc;color: #666;font: 14px arial}
#sddm div a:hover{background: #E78F22;color: #FFF}

/** page style **/
.pagging {height:20px;padding:8px 10px;line-height:19px;color:#949494;}
.pagging a{background:url(../img/pagging.gif) repeat-x 0 0 ;height:20px; float:left;padding:0 8px;border:solid 1px #d5d5d5;color:#949494;margin-left:5px;}
.pagging a:hover{border-color:#8c3521;background:#ba4c32;color:#fff;}
.pagging span{float:left;margin-left:5px;padding-top:2px;}
.left, .alignleft{float:left;display:inline;}
.right, .alignright{float:right;display:inline;margin-right:25px;}
/** end of page style **/