<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link type="text/css" rel="stylesheet" href="main.css" />
	</head>
	<body>
		<div class="global">
			<div class="topDiv"></div>
			<div class="headDiv">
				<div class="logo"></div>
				<div class="search"></div>
			</div>
			<div class="menu">
				<ul>
					<li>HOME PAGE</li>
					<li>ABOUT US</li>
					<li>SERVICES</li>
					<li>CASE STUDIES</li>
				</ul>
			</div>
			<div class="headPic"></div>
			
			<div class="content">
				<div class="left"></div>
				<div class="right"></div>
			</div>
			<div class="footer">
			
			</div>
		</div>
	</body>
</html>