<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
	<div class="all">
		<div class="head clearfix mb10">
			<h1 class="logo"><a href=""><img src="images/logo.gif" alt="" /></a></h1>
			<div class="nav clearfix">
				<ul>
					<li><a href="">网站首页</a></li>
					<li><a href="">网站首页</a></li>
					<li><a href="">网站首页</a></li>
					<li><a href="">网站首页</a></li>
					<li><a href="">网站首页</a></li>
					<li><a href="">网站首页</a></li>
					<li><a href="">网站首页</a></li>
				</ul>
				<div class="nav_r"></div>
			</div>
		</div>
		<div class="banner"><img src="images/banner.jpg" alt="" /></div>

		<div class="con clearfix">
			<div class="con_l">
				<div class="conl_cp mb10">
					<div class="conl_cp_title"></div>
					<ul>
						<li><a href="">产品名字</a></li>
						<li><a href="">产品名字</a></li>
						<li><a href="">产品名字</a></li>
						<li><a href="">产品名字</a></li>
					</ul>
				</div>
				<div class="conl_contact">
					<h4 class="conl_tilte2">联系我们</h4>
					<div>
						地址：地址信息<br />
						地址：地址信息<br />
						地址：地址信息<br />
						地址：地址信息
					</div>
				</div>
			</div>
			<div class="con_r">
				<div class="mb10">
					<h4 class="conr_title">产品展示</h4>
					<div class="index_cp">
						<ul class="clearfix">
							<li><a href=""><img src="images/1.jpg" alt="" /><span>图片名字</span></a></li>
							<li><a href=""><img src="images/1.jpg" alt="" /><span>图片名字</span></a></li>
							<li><a href=""><img src="images/1.jpg" alt="" /><span>图片名字</span></a></li>
							<li><a href=""><img src="images/1.jpg" alt="" /><span>图片名字</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">
			<div class="nav2">
				<a href="">底部导航</a>|<a href="">底部导航</a>|<a href="">底部导航</a>|<a href="">底部导航</a>|<a href="">底部导航</a>
			</div>
			<p>Copyright © 2004-2011 DEDECMS. 织梦科技 版权所有</p>
		</div>
	</div>
</body>
</html>