	<div class="main">
		<div class="cl">&nbsp;</div>
		<div class="content">
			<div class="box">
				<div class="box_head">
					<h2 class="left">当前产品</h2>
					<div class="right">
						<form action="" method="get">
							<input type="text" class="field small_field" name="name" value="<?php if(isset($search_title)){ echo $search_title;}?>" />
							<input type="submit" class="button" value="search" />
						</form>
					</div>
				</div>
				
				<div class="table">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th width="13"><input type="checkbox" class="checkbox all_select" />
							<th>产品名称</th>
							<th>缩略图</th>
							<th>所属栏目</th>
							<th>市场价</th>
							<th>售价</th>
							<th>品牌</th>
							<th>排序</th>
							<th width="110" class="ac">操作</th>
						</tr>
						<?php if(empty($list)){?>
							<tr>
								<td colspan="9" style="text-align:center;">暂无数据</td>
							</tr>
						<?php }else{?>
							<?php foreach($list as $key => $value){?>
								<tr>
									<td><input type="checkbox" class="checkbox single_select" value="<?=$value['id'];?>" /></td>
									<td><?=$value['name'];?></td>
									<td><?php if(!empty($value['thumbnail'])){?> <img width="89" height="61" src="<?=$value['thumbnail'];?>" /><?php }?></td>
									<td><a href="<?=$domain;?>product.html?id=<?=$value['cate_id'];?>"><?=$value['cate_name'];?></a></td>
									<td><?=$value['price'];?></td>
									<td><?=$value['sale_price'];?></td>
									<td><?=$value['brand'];?></td>
									<td><?=$value['order_asc'];?></td>
									<td>
										<a href="<?=$domain;?>product/modify.html?id=<?=$value['id'];?>">编辑</a>
										<a href="###" class="delete_single" id="<?=$value['id'];?>">删除</a>
									</td>
								</tr>
							<?php }?>
						<?php }?>
					</table>
					<?php if(isset($pages)){?>
						<div class="pagging">
							<?=$pages;?>
						</div>
					<?php }?>
				</div><!-- end of table -->
			</div><!-- end of box -->
		</div><!-- end of content -->
		
		<div class="sidebar">
			<div class="box">
				<div class="box_head">
					<h2>Management</h2>
				</div>
				<div class="box_content">
					<a href="<?=$domain;?>product/modify.html" class="add_button"><span>添加产品</span></a>
					<div class="cl">&nbsp;</div>
					<p class="select_all"><input type="checkbox" class="checkbox all_select" /><label>全选</label></p>
					<p><a href="###" class="delete_select">删除所选</a></p>
					
					<div class="sort">
						<label>排序</label>
						<select class="field order_by">
							<option value="order_asc">按排序字段升序排列</option>
							<option value="order_desc">按排序字段降序排列</option>
							<option value="time_asc">按添加时间升序排列</option>
							<option value="time_desc">按添加时间升序降序</option>
						</select>
					</div>
					<div class="sort">
						<label>分类筛选</label>
						<select class="field select_by_part">
							<option value="-1">全部产品</option>
							<?php foreach($parts as $part){?>
								<option value="<?=$part['id'];?>" <?php if($part['id'] == $current['id']){?>selected="selected"<?php }?>><?=$part['name'];?></option>
							<?php }?>
						</select>
					</div>
				</div>
			</div>
		</div><!-- end of sidebar -->
		<div class="cl">&nbsp;</div>
	</div>