	<div class="main">
		<div class="cl">&nbsp;</div>
		<div class="content">
			<div class="box">
				<div class="box_head">
					<h2><?php if(isset($info) && isset($info['id'])){ ?>编辑<?php }else{?>添加<?php }?>新闻</h2>
				</div>
				<form action="<?=$domain;?>article/modify.html<?php if(isset($info) && isset($info['id'])){ ?>?id=<?=$info['id'];?><?php }?>" method="post" enctype='multipart/form-data'>
					<div class="form">
						<p>
							<span class="req">max 100 symbols</span>
							<label>新闻标题<span>(Required Field)</span></label>
							<input type="text" class="field size1" name="title" value="<?php if(isset($info) && isset($info['title'])){ echo $info['title'];}?>"/>
						</p>
						<p>
							<label>所属栏目</label>
							<select name="cate_id" class="field size2">
								<option value="0">顶级栏目</option>
								<?php foreach($parts as $key => $part){?>
									<option value="<?=$part['id'];?>" <?php if(isset($info) && isset($info['cate_id']) && $info['cate_id'] == $part['id']){ echo 'selected="selected"';}?>><?=$part['name'];?></option>
								<?php }?>
							</select>
						</p>
						<p>
							<label>缩略图</label>
							<input type="file" name="thumbnail" />
							<?php if(isset($info['thumbnail'])){?>
								<img src="<?=$info['thumbnail'];?>" width="89" height="61" />
							<?php }?>
						</p>
						<p>
							<label>摘要</label>
							<textarea class="field size1" style="height:100px;" name="summary"><?php if(isset($info) && isset($info['summary'])){ echo $info['summary'];}?></textarea>
						</p>
						<p>
							<label>新闻内容</label>
							<textarea class="field size1" style="height:300px;" name="content"><?php if(isset($info) && isset($info['content'])){ echo $info['content'];}?></textarea>
						</p>
						<p>
							<label>排序</label>
							<input type="text" name="order_asc" class="field size2" value="<?php if(isset($info) && isset($info['order_asc'])){ echo $info['order_asc'];}else{ echo 10;}?>" />
						</p>
					</div>
					
					<div class="buttons">
						<input type="reset" class="button" value="重置" />
						<input type="submit" class="button" value="提交" />
					</div>
				</form>
			</div><!-- end of form box -->
		</div><!-- end of content -->
		
		<div class="sidebar">
			<div class="box">
				<div class="box_head">
					<h2>管理面板</h2>
				</div>
				<div class="box_content">
					<a href="<?=$domain;?>article/index.html" class="add_button"><span>新闻列表</span></a>
					<div class="cl">&nbsp;</div>
				</div>
			</div>
		</div><!-- end of sidebar -->
		<div class="cl">&nbsp;</div>
	</div>
	<?php $this->cssStart();?>
		<link rel="stylesheet" href="<?=__PUBLIC__;?>css/default.css" />
	<?php $this->cssEnd();?>
	<?php $this->jsStart();?>
	<script type="text/javascript" src="<?=__PUBLIC__;?>js/kindeditor-min.js"></script>
	<script type="text/javascript" src="<?=__PUBLIC__;?>js/zh_CN.js"></script>
	<script type="text/javascript">
		var editor;
		KindEditor.ready(function(K){
			editor = K.create('textarea[name="content"]', {
				cssPath : '<?=__PUBLIC__;?>js/plugins/code/prettify.css',
				uploadJson : '<?=$domain;?>ajax/upload.html',
				allFileManager : false
			});
		});
	</script>
	<?php $this->jsEnd();?>